body {
  font-size: 16px;
  color: #222222;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

section {
  display: flex;
  height: 98vh;
  position: relative;
}
section .toolbar {
  width: 45px;
  background: #333;
}
section .toolbar div {
  width: 30px;
  height: 30px;
  margin: 10px auto;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-flow: row;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
}
section .toolbar div:hover {
  background: #fff3;
  border-radius: 2px;
}
section .toolbar .active {
  background: #fff3;
  border-radius: 2px;
}
section .toolbar .btn {
  position: absolute;
  left: 35px;
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid #A3A1A1;
}
section .wrapper-control-zoom {
  right: 4rem;
  height: 30px;
  top: 3rem;
  position: fixed;
  background: #B4B4B4;
  border-radius: 5px;
  opacity: 0.5;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-flow: row;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
}
section .wrapper-control-zoom label {
  margin: auto 10px;
}
section .wrapper-control-zoom .slide-zoom {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-flow: row;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  margin: auto;
  overflow: hidden;
  width: 0px;
  -moz-transition: width 0.2s linear;
  -o-transition: width 0.2s linear;
  -webkit-transition: width 0.2s linear;
  transition: width 0.2s linear;
}
section .wrapper-control-zoom .slide-zoom label {
  font-weight: 600;
  width: 40px;
  text-align: center;
}
section .wrapper-control-zoom .btn-zoom {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-flow: row;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  margin: auto 4px;
}
section .wrapper-control-zoom .btn-zoom:hover {
  background: #787879;
  border-radius: 3px;
}
section .wrapper-control-zoom .expand {
  width: 200px;
}
section .wrapper-control-zoom:hover {
  opacity: 1;
}
section .page-drawing__container {
  width: calc(100% - 45px);
  overflow: hidden;
  position: relative;
  border: 1px solid;
  -webkit-box-shadow: 1px 0px 3px black;
  -moz-box-shadow: 1px 0px 3px black;
  box-shadow: 1px 0px 3px black;
}
section .page-drawing__container .ruler {
  top: 0;
  position: absolute;
  pointer-events: none;
  width: 100%;
  height: 100%;
}
section .page-drawing__container .ruler svg {
  margin: 0px;
  border: 0px;
  padding: 0px;
  overflow: hidden;
}
section .page-drawing__container .no-select {
  user-select: none;
}
section .page-drawing__container .page-drawing {
  position: absolute;
  background: white;
  transform-origin: center center;
  -webkit-box-shadow: 1px 0px 3px black;
  -moz-box-shadow: 1px 0px 3px black;
  box-shadow: 1px 0px 3px black;
}
section .panel__container {
  right: 0;
  height: 100%;
  background: #B4B4B4;
  width: 0px;
  position: absolute;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-flow: row;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  -webkit-box-shadow: 1px 0px 3px black;
  -moz-box-shadow: 1px 0px 3px black;
  box-shadow: 1px 0px 3px black;
  -moz-transition: width 0.2s linear;
  -o-transition: width 0.2s linear;
  -webkit-transition: width 0.2s linear;
  transition: width 0.2s linear;
}
section .panel__container .btn-show-panel svg {
  transform: rotate(0deg);
}
section .panel__container .wrapper-panel {
  margin-bottom: auto;
  overflow: hidden;
  height: 100%;
}
section .panel__container .wrapper-panel .wrapper-info-layout {
  width: 400px;
  overflow: hidden;
  height: 50%;
}
section .panel__container .wrapper-panel .wrapper-info-layout .info-item {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin: 20px;
  font-weight: 600;
}
section .panel__container .wrapper-panel .wrapper-info-layout .parameter-layout {
  height: 20%;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
  margin: 20px;
}
section .panel__container .wrapper-panel .wrapper-info-layout .parameter-layout div {
  display: grid;
  grid-template-columns: 60px auto;
  margin: auto;
}
section .panel__container .wrapper-panel .wrapper-info-layout .parameter-layout div label {
  font-weight: 700;
  margin: auto;
}
section .panel__container .wrapper-panel .wrapper-info-layout .parameter-layout div input {
  width: 80px;
  height: 10px;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid;
}
section .panel__container .wrapper-panel .wrapper-info-layout .weight-info {
  height: 57%;
}
section .panel__container .wrapper-panel .list-item {
  width: 400px;
  overflow: auto;
  height: 47%;
}
section .panel__container .wrapper-panel .list-item .wrapper-item {
  display: grid;
  grid-template-columns: 50px auto;
  grid-gap: 20px;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
}
section .panel__container .wrapper-panel .list-item .wrapper-item .image-item {
  width: 50px;
  height: 50px;
  background: aqua;
  border-radius: 5px;
}
section .panel__container .wrapper-panel .list-item .wrapper-item .name-item {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin: auto 0;
  font-weight: 600;
  font-size: 14px;
}
section .panel__container .wrapper-panel .list-item .wrapper-item:hover {
  background-color: azure;
  border-radius: 5px;
  -webkit-box-shadow: 1px 0px 3px black;
  -moz-box-shadow: 1px 0px 3px black;
  box-shadow: 1px 0px 3px black;
}
section .panel__container.expand {
  width: 400px;
}
section .panel__container.expand svg {
  transform: rotate(180deg);
}
section .panel__container.expand .list-device .item-img {
  display: none;
}
section .panel__container .btn-show-panel {
  position: absolute;
  background: wheat;
  margin: auto 0;
  width: 10px;
  height: 60px;
  left: -10px;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-flow: row;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  border-radius: 10px 0 0 10px;
}
section .panel__container .btn-show-panel:hover {
  background: #999999;
  width: 20px;
  left: -20px;
  border-radius: 20px 0 0 20px;
  -moz-transition: width 0.1s linear 0.1s, left 0.1s linear 0.1s;
  -o-transition: width 0.1s linear 0.1s, left 0.1s linear 0.1s;
  -webkit-transition: width 0.1s linear 0.1s, left 0.1s linear 0.1s;
  transition: width 0.1s linear 0.1s, left 0.1s linear 0.1s;
}
section .window-create-shape {
  font-weight: 600;
  visibility: hidden;
  position: absolute;
  left: 56px;
  background: #f5f5f5;
  border-radius: 5px;
  -webkit-box-shadow: 1px 0px 3px black;
  -moz-box-shadow: 1px 0px 3px black;
  box-shadow: 1px 0px 3px black;
}
section .window-create-shape .arrow-left {
  position: absolute;
  top: 20px;
  left: -10px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #f5f5f5;
}
section .window-create-shape .title {
  margin: 20px 10px;
}
section .window-create-shape .wrapper-input {
  margin: 20px 10px;
}
section .window-create-shape .wrapper-input div {
  display: grid;
  grid-template-columns: 70px auto;
  grid-gap: 20px;
  margin: 10px;
}
section .window-create-shape .wrapper-input div label {
  margin: auto;
}
section .window-create-shape .wrapper-input div input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid;
}
section .window-create-shape .wrapper-button {
  margin: 10px;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-flow: row;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
}
section .window-create-shape .wrapper-button .btn-action {
  cursor: pointer;
  width: 40%;
  text-align: center;
  height: 25px;
  line-height: 25px;
  border-radius: 5px;
  background: #b3b2b2;
  margin: auto;
  -webkit-box-shadow: 1px 0px 3px black;
  -moz-box-shadow: 1px 0px 3px black;
  box-shadow: 1px 0px 3px black;
}
section .window-create-shape .wrapper-button .btn-action:hover {
  box-shadow: none;
}
section .context {
  font-size: 1.1em;
  position: absolute;
  width: 200px;
  height: auto;
  padding: 5px 0px;
  border-radius: 5px;
  top: 10;
  left: 10;
  background-color: #f5f5f5;
  -webkit-box-shadow: 1px 0px 3px black;
  -moz-box-shadow: 1px 0px 3px black;
  box-shadow: 1px 0px 3px black;
  color: #333;
}
section .context .context-item {
  height: 32px;
  line-height: 32px;
  cursor: pointer;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
section .context .context-item:hover {
  background-color: #ddd;
}
section .context .context-item .inner-item {
  margin: 0px 10px;
}
section .context .context-item .inner-item i {
  margin: 0 5px 0 0;
  font-weight: bold;
}
section .context .context-hr {
  height: 1px;
  border-top: 1px solid #bbb;
  margin: 3px 10px;
}

/*# sourceMappingURL=main.css.map */
