@import "helper";
body{
  font-size: 16px;
  color: #222222;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
section{
  display: flex;
  height: 98vh;
  position: relative;

  .toolbar{
    width: 45px;
    background: #333;
    div{
      width: 30px;
      height: 30px;
      margin: 10px auto;
      @include flex(row, nowrap, center);
      &:hover{
        background: #fff3;
        border-radius: 2px;
      }
    }
    .active{
      background: #fff3;
      border-radius: 2px;
    }
    .btn{
      position: absolute;
      left: 35px;
      width: 0;
      height: 0;
      border-top: 6px solid transparent;
      border-bottom: 6px solid transparent;
      border-left: 6px solid #A3A1A1;
    }
  }
  .wrapper-control-zoom{
    right: 4rem;
    height: 30px;
    top: 3rem;
    position: fixed;
    background: #B4B4B4;
    border-radius: 5px;
    opacity: 0.5;
    @include flex(row, nowrap, center);
    label{
      margin: auto 10px;
    }
    .slide-zoom{
      @include flex(row, nowrap, center);
      margin: auto;
      overflow: hidden;
      width: 0px;
      @include transition(width 0.2s linear);
      label{
        font-weight: 600;
        width: 40px;
        text-align: center;
      }
    }
    .btn-zoom{
      @include flex(row, nowrap, center);
      margin: auto 4px;
      &:hover{
        background: #787879;
        border-radius: 3px;
      }

    }
    .expand{
      width: 200px;
    }
    &:hover{
      opacity: 1;
    }
  }
  .page-drawing__container{
    width: calc(100% - 45px);
    overflow: hidden;
    position: relative;
    border: 1px solid;
    @include box-shadow(1px, 0px, 3px, black);
    .ruler{
      top: 0;
      position: absolute;
      pointer-events: none;
      width: 100%;
      height: 100%;
      svg{
        margin: 0px;
        border: 0px;
        padding: 0px;
        overflow: hidden;
        #wrapper-ruler-horizontal{
        }
        #wrapper-ruler-vertical{
        }
      }
    }
    .no-select {
      user-select: none;
    }
    .page-drawing{
      position: absolute;
      background: white;
      transform-origin: center center;
      @include box-shadow(1px, 0px, 3px, black);
    }
  }
  .panel__container{
    right: 0;
    height: 100%;
    background: #B4B4B4;
    width: 0px;
    position: absolute;
    @include flex(row, nowrap, center);
    @include box-shadow(1px, 0px, 3px, black);
    @include transition(width 0.2s linear);
    .btn-show-panel{
      svg{
        transform: rotate(0deg);
      }
    }
    .wrapper-panel{
      margin-bottom: auto;
      overflow: hidden;
      height: 100%;
      .wrapper-info-layout{
        width: 400px;
        overflow: hidden;
        height: 50%;
        .info-item{
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          margin: 20px;
          font-weight: 600;
        }
        .parameter-layout{
          height: 20%;
          display: grid;
          grid-template-columns: auto auto;
          grid-gap: 20px;
          margin: 20px;
          div{
            display: grid;
            grid-template-columns: 60px auto;
            margin: auto;
            label{
              font-weight: 700;
              margin: auto;
            }
            input{
              width: 80px;
              height: 10px;
              text-align: center;
              padding: 5px;
              border-radius: 5px;
              border: 1px solid;
            }
          }
        }
        .weight-info{
          height: 57%;
        }
      }
      .list-item{
        width: 400px;
        overflow: auto;
        height: 47%;
        .wrapper-item{
          display: grid;
          grid-template-columns: 50px auto;
          grid-gap: 20px;
          margin: 10px;
          padding: 10px;
          cursor: pointer;
          .image-item{
            width: 50px;
            height: 50px;
            background: aqua;
            border-radius: 5px;
          }
          .name-item{
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            margin: auto 0;
            font-weight: 600;
            font-size: 14px;
          }
          &:hover{
            background-color: azure;
            border-radius: 5px;
            @include box-shadow(1px, 0px, 3px, black);
          }
        }
      }

    }
    &.expand{
      width: 400px;
      svg{
        transform: rotate(180deg);
      }
      .list-device{
        .item-img{
          display: none;
        }
      }
    }
    .btn-show-panel{
      position: absolute;
      background: wheat;
      margin: auto 0;
      width: 10px;
      height: 60px;
      left: -10px;
      @include flex(row, nowrap, center);
      border-radius: 10px 0 0 10px;
      &:hover{
        background: #999999;
        width: 20px;
        left: -20px;
        border-radius: 20px 0 0 20px;
        @include transition(width 0.1s linear 0.1s, left 0.1s linear 0.1s );
      }
    }
  }

  .window-create-shape{
    font-weight: 600;
    visibility: hidden;
    position: absolute;
    left: 56px;
    background: #f5f5f5;
    border-radius: 5px;
    @include box-shadow(1px, 0px, 3px, black);
    .arrow-left {
      position: absolute;
      top: 20px;
      left: -10px;
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-right:10px solid #f5f5f5;
    }
    .title{
      margin: 20px 10px;
    }
    .wrapper-input{
      margin: 20px 10px;
      div{
        display: grid;
        grid-template-columns: 70px auto;
        grid-gap: 20px;
        margin: 10px;
        label{
          margin: auto;
        }
        input{
          padding: 5px;
          border-radius: 5px;
          border: 1px solid;
        }
      }
    }
    .wrapper-button{
      margin: 10px;
      @include flex(row, nowrap, center);
      .btn-action{
        cursor: pointer;
        width: 40%;
        text-align: center;
        height: 25px;
        line-height: 25px;
        border-radius: 5px;
        background: #b3b2b2;
        margin: auto;
        @include box-shadow(1px, 0px, 3px, black);
        &:hover{
          box-shadow: none;
        }
      }
    }
  }

  .context {
    font-size: 1.1em;
    position: absolute;
    width: 200px;
    height: auto;
    padding: 5px 0px;
    border-radius: 5px;
    top: 10;
    left: 10;
    background-color: #f5f5f5;
    @include box-shadow(1px, 0px, 3px, black);
    color: #333;
    .context-item {
      height: 32px;
      line-height: 32px;
      cursor: pointer;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      &:hover {
        background-color: #ddd;
      }
      .inner-item {
        margin: 0px 10px;
        i {
          margin: 0 5px 0 0;
          font-weight: bold;
        }
      }
    }
    .context-hr {
      height: 1px;
      border-top: 1px solid #bbb;
      margin: 3px 10px;
    }
  }
}
